.App {
  text-align: center; }

html {
  scroll-behavior: smooth;
  background-color: #180925; }

#root {
  font-family: Roboto;
  background-color: #180925; }
  
  
  /* ------------Title.js------------ */

  .heading {
    text-align: center;
    background-color: #21201E;
    background-image: url("https://cdn.mos.cms.futurecdn.net/1114a6f83369c55308cdc5e46f8e8ca8-970-80.jpg");
    height: 100vh;
    overflow: hidden;
    width: 100%;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    overflow-x: hidden; }
    .heading h1 {
      letter-spacing: 3px;
      font-weight: 500;
      font-size: 72px;
      font-family: "Anton";
      color: white;
      width: 95%;
      z-index: 3; }
  
  .key-solution {
    width: 95%;
    font-size: 36px;
    padding-top: 18px;
    font-family: "Roboto";
    z-index: 3; }

    .meteor {
      
      width: 60%;
      z-index: 4;
    }
  
  @media only screen and (max-width: 500px) {
    .heading {
      background-image: url("https://cdn.mos.cms.futurecdn.net/1114a6f83369c55308cdc5e46f8e8ca8-970-80.jpg");
      background-attachment: scroll; }
      .heading h1 {
        font-size: 54px; }
    .key-solution {
      font-size: 27px; } }