.App {
  text-align: center; 
}

html {
  scroll-behavior: smooth;
  background-color: #180925; 
  overflow-x:  hidden;
}

#root {
  font-family: Roboto;
  background-color: #180925; 
}
  
  
  /* ------------Title.js------------ */

  .heading {
    text-align: center;
    background-color: #21201E;
    background-image: url("https://cdn.mos.cms.futurecdn.net/1114a6f83369c55308cdc5e46f8e8ca8-970-80.jpg");
    height: 100vh;
    overflow: hidden;
    width: 100%;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    overflow-x: hidden; }
    .heading h1 {
      letter-spacing: 3px;
      font-weight: 500;
      font-size: 72px;
      font-family: "Roboto";
      color: white;
      width: 95%;
      z-index: 3; }
  
  .key-solution {
    width: 95%;
    font-size: 36px;
    padding-top: 18px;
    font-family: "Roboto";
    z-index: 3; }

    .meteor {
      transform: rotate(255deg);
      width: 60%;
      z-index: 4;
    }
  
  @media only screen and (max-width: 500px) {
    .heading {
      background-image: url("https://cdn.mos.cms.futurecdn.net/1114a6f83369c55308cdc5e46f8e8ca8-970-80.jpg");
      background-attachment: scroll; }
      .heading h1 {
        font-size: 54px; }
    .key-solution {
      font-size: 27px; } }

      /*-------------- BodyHeader.js ------------*/
      
      .body-header {
        text-align: center;
        background-color: #180925;
        padding-top: 72px;
        padding-bottom: 72px;
        width: 100%;
        text-align: center;
        color: #fc9e7c;
        font-size: 36px;
        position: relative;
        z-index: 2;
       }
      
      .body-header-text h2 {
        font-weight: 900;
        font-family: "Anton";
        letter-spacing: 1px;
        color: #fc9e7c;
        margin-bottom: 0px;
       }

       /*-----------------SearchAPI.js-----------------*/
       
       .search-container {
        width: 95%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto; }
        .search-container .btn-primary {
          background-color: #703471;
          border-color: #703471;
          font-size: 18px !important;
          width: 100px; }
        .search-container .btn-primary:hover {
          background-color: #fc9e7c;
          border-color: #fc9e7c; }
        .search-container .btn-primary:active {
          background-color: #fc9e7c !important;
          border-color: #fc9e7c !important; }
        .search-container .btn-primary:focus {
          background-color: #fc9e7c !important;
          border-color: #fc9e7c !important; }
        .search-container .input-group-text {
          background-color: #212D40 !important;
          border-color: #212D40;
          color: #fc9e7c; }
        .search-container .form-control {
          background-color: #212D40;
          border-color: #212D40;
          text-align: center;
          color: #fc9e7c;
          font-size: 18px !important; }
        .search-container .form-control:focus {
          background-color: #364156;
          border-color: #364156;
          text-align: center;
          color: #fc9e7c; }
      
      *:focus {
        -webkit-box-shadow: none !important;
        box-shadow: none !important; 
      }
      
      ::-webkit-input-placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fc9e7c !important;
        opacity: 1;
        /* Firefox */ 
      }
      
      :-ms-input-placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fc9e7c !important;
        opacity: 1;
        /* Firefox */ 
      }
      
      ::-ms-input-placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fc9e7c !important;
        opacity: 1;
        /* Firefox */ 
      }
      
      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fc9e7c !important;
        opacity: 1;
        /* Firefox */ 
      }
      
      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #fc9e7c !important; 
      }
      
      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #fc9e7c !important; 
      }

      /*------------------- ResultTable.js-------------------- */
      
      #result-output {
        width: 95%;
        max-width: 800px;
        background-color: #212D40;
        display: block;
        word-break: break-all;
        word-wrap: break-word;
        border: 1px solid #703471;
        margin-top: 36px;
        margin-left: auto;
        margin-right: auto;
        padding: 8px;
        line-height: 18px;
        color: #fc9e7c; 
      }
        #result-output a {
          color: #fc9e7c; }
        #result-output tr {
          background-color: #212D40; 
        }
        #result-output td {
          color: #fc9e7c;
          font-size: 18px; 
        }
        #result-output .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
          background: #364156; }
        #result-output th {
          color: #fc9e7c;
          font-size: 36px; 
        }
        #result-output tbody {
          background-color: #212D40; 
        }
        #result-output .ant-table-placeholder {
          background-color: #212D40;
          border-color: #703471; 
        }
        #result-output table {
          border-bottom: 2px solid #703471 !important; }
        #result-output .ant-empty-description {
          color: #fc9e7c;
          font-size: 18px; 
        }
        #result-output .ant-empty-image img {
          content: url(./img/error.png) !important; 
        }
      
      .ant-pagination-item-link {
        background-color: #212D40 !important;
        border-color: #703471 !important;
       }
      
      .ant-pagination-item-link:hover {
        color: #fc9e7c !important;
        border-color: #fc9e7c !important;
       }
      
      .ant-pagination-item {
        background-color: #212D40 !important;
        border-color: #703471 !important;
       }
        .ant-pagination-item a:hover {
          color: #fc9e7c !important;
         }
      
      .ant-pagination-item-link-icon {
        color: #fc9e7c !important; }
      
      .ant-pagination-item-active {
        border-color: #fc9e7c !important; }
      
      .ant-pagination-item:hover {
        border-color: #fc9e7c !important; }
      
      .ant-pagination-item-ellipsis {
        color: #703471 !important; }
      
      @media only screen and (max-width: 768px) {
        .ant-table-header-column {
          font-size: 25.2px;
          font-weight: 600; } }
      
      @media only screen and (max-width: 500px) {
        col:nth-child(2) {
          width: 83px; }
        col:nth-child(3) {
          width: 94px; } }
      
      @media only screen and (max-width: 350px) {
        .ant-table-header-column {
          font-size: 20.7px; }
        col:nth-child(2) {
          width: 83px; }
        col:nth-child(3) {
          width: 95px; } }
        /* --------------Footer.js--------------- */

        .social-media {
          margin: 72px auto;
          margin-top: 72px;
          margin-bottom: 18px;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content; 
          z-index: 3;
        }
        
        .social-icons {
          z-index: 3;
          margin: 20px; }
        
        .footer p {
          z-index: 3;
          text-align: center;
          margin-bottom: 72px;
          color: #fc9e7c;
         }